<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECH</title>
</head>

<body>
    <h1>Noticias Tech</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>TÍTULO</td>
            <td>DESCRIÇÃO</td>
            <td>PUBLICAÇÃO</td>
        </tr>

        <tr>
            <td>
                <%= noticias.id %>
            </td>
            <td>
                <%= noticias.titulo %>
            </td>
            <td>
                <%= noticias.descricao %>
            </td>
            <td>
                <%= noticias.data_post %>
            </td>
        </tr>
    </table>
</body>

</html>